In [20]:
import pandas as pd
import numpy as np

In [21]:
# Load dataset into dataframe
df = pd.read_csv('src/data/keypoints.csv', ",")
# A quick look
df.head()

/Users/lennertsteyaert/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,keypoints,descriptors
0,zaal_19__IMG_20190323_121622__09.png,"[[[311.73681640625, 408.48272705078125], 111.0...","[[104, 187, 123, 101, 240, 206, 127, 55, 105, ..."
1,zaal_S__IMG_20190323_122944__04.png,"[[[132.57772827148438, 136.16090393066406], 11...","[[47, 16, 178, 222, 125, 221, 146, 104, 219, 1..."
2,zaal_19__IMG_20190323_121523__04.png,"[[[139.7440948486328, 207.82455444335938], 111...","[[21, 122, 83, 65, 102, 10, 239, 208, 108, 72,..."
3,zaal_19__IMG_20190323_121523__10.png,"[[[437.148193359375, 673.63818359375], 111.078...","[[192, 112, 149, 101, 0, 110, 65, 24, 32, 176,..."
4,zaal_S__IMG_20190323_122748__01.png,"[[[730.9691162109375, 820.5486450195312], 111....","[[210, 80, 127, 229, 38, 78, 93, 48, 61, 102, ..."

In [29]:
#json.load(df.descriptors[0])

pd.read_json(df.descriptors[0])

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,104,187,123,101,240,206,127,55,105,12,...,97,45,231,253,32,1,98,146,198,235
1,252,77,255,254,13,214,207,96,213,130,...,186,234,243,227,195,11,51,123,116,34